@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;800&display=swap');

:root {
    --fonte: 'Poppins', sans-serif;

    --cor1: #FAD8D6;
    --cor2: #ECB0D4;
    --cor3: #E59ED1;
    --cor4: #614B9D;
    --darkblue: #1E2336;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background: linear-gradient(45deg, var(--cor3), var(--cor4));
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.container {
    background-color: white;
    width: 340px;
    min-height: 80vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

main h1 {
    font-weight: normal;
    margin-bottom: 2rem;
    position: relative;
}

main h1::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 35px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, var(--cor3), var(--cor4));
}


/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background:rgba(0, 0, 0, 0.1)
}

.underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, var(--cor3), var(--cor4));

    transform: scaleX(0);
    transform-origin: left;

    transition: transform, .5s ease-in-out;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    border: none;
    font-size: 0.98rem;
    color:rgba(0, 0, 0, 0.7);
}



.input-field:first-child {
    margin-bottom: 1rem;
}



.input-field input::placeholder {
    opacity: 0.6;
    font-style: italic;
} 

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, var(--cor3), var(--cor4));
    cursor: pointer;
    border: none;
    color: white;
    font-size: 0.97rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all, .3s ease;
    padding: 8px 0;
}

form input[type="submit"]:hover {
    background: linear-gradient(to right, var(--cor3), var(--cor4));
    transform: scale(1.1)
}

.forgot-password {
    color:rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
    width: 57.9710%;
    font-size: 1em;
}

.forgot-password:hover {
    color: var(--darkblue)
}

/* LOGIN COM REDES SOCIAIS */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.footer ul {
    list-style: none;
}

.span-primary {
    color:rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    text-align: center;
}

.social-fields a {
    text-decoration: none;
    color: white;
}

.social-fields a i {
    margin: 0 .5rem;
    width: 15px; 
}

.social-fields li {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}

.social-fields li:hover {
    background: var(--cor4)
}

.twitter {
    background: linear-gradient(to right,#1d9cf0e5, #1D9BF0);
}

.facebook {
    background: linear-gradient(to right, #1877F2, #1876f2bb);
}

.google {
    background: linear-gradient(to right, #EA4335, #ea4435d0);
}


/* MOBILE VERSION */

@media screen and (max-width: 400px) {
    main.container {
        margin: 10px;
    }
}

@media screen and (max-width: 330px) {
    .forgot-password{
        font-size: 0.8em;
    }
}

